DATABASE_URL="file:./dev.db"
INTEGRATION_MODE="mock"
DASHBOARD_USERS_JSON='{"thana":"Thana!Ops#4829_CMC","tommy":"Tommy$Wave_7316!CDA"}'
DASHBOARD_SESSION_SECRET="change-this-dashboard-secret"
DASHBOARD_COOKIE_SECURE="false"
CODEX_BIN="codex"
OPENAI_MODEL=""
WORDPRESS_BASE_URL=""
WORDPRESS_USERNAME=""
WORDPRESS_APP_PASSWORD=""
WORDPRESS_CRYPTODAILYALERT_BASE_URL=""
WORDPRESS_CRYPTODAILYALERT_USERNAME=""
WORDPRESS_CRYPTODAILYALERT_APP_PASSWORD=""
WORDPRESS_TRUSTSCRYPTO_BASE_URL=""
WORDPRESS_TRUSTSCRYPTO_USERNAME=""
WORDPRESS_TRUSTSCRYPTO_APP_PASSWORD=""
WORDPRESS_COINWY_BASE_URL=""
WORDPRESS_COINWY_USERNAME=""
WORDPRESS_COINWY_APP_PASSWORD=""
GOOGLE_SHEETS_SPREADSHEET_ID=""
GOOGLE_SHEETS_WORKSHEET_NAME=""
GOOGLE_SERVICE_ACCOUNT_EMAIL=""
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=""
TELEGRAM_BOT_TOKEN=""
TELEGRAM_CHAT_ID=""
CRAFT_MODEL=""
FLOW_IMAGE_WORKER_URL=""
FLOW_IMAGE_WORKER_TOKEN=""
FLOW_PROJECT_URL=""
FLOW_STORAGE_STATE_PATH=""
FLOW_BROWSER_CDP_URL=""
FLOW_BROWSER_CHANNEL=""
FLOW_BROWSER_USER_DATA_DIR=""
FLOW_BROWSER_PROFILE_DIRECTORY=""
FLOW_BROWSER_IGNORE_DEFAULT_ARGS=""
FLOW_IMAGE_WORKER_PORT="4319"
FLOW_HEADLESS="true"
FLOW_CREATE_TIMEOUT_MS="180000"
FLOW_NAV_TIMEOUT_MS="30000"
